<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced text Editor</title>
</head>
<body>
    <h3>Advanced Text Editor</h3>
    <form id="editorForm" action="" method="post">
        <textarea name="textarea" id="editorTextarea"  ></textarea>
        <button type="submit">Save</button>
    </form>
    
    <div id="contentDisplay"></div>


    <script src="/public/tinymce/tinymce.min.js"></script>
    <script src="/public/script.js"></script>
</body>
</html>